Repository grok-rs/gitk-rs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitk-rs/maintainers, @gitk-rs/docs-team, @gitk-rs/security-team, @gitk-rs/devops-team, @gitk-rs/core-team, @gitk-rs/git-experts, @gitk-rs/ui-team, @gitk-rs/performance-team

fix: improve graph display and diff viewer layout for better usability
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
Owners: @gitk-rs/ui-team

feat: [] Add tracing logs
  src/git/security.rs
  src/git/stream.rs
  src/state/app_state.rs
Owners: @gitk-rs/security-team, @gitk-rs/maintainers, @gitk-rs/git-experts, @gitk-rs/core-team

feat: downgrade Rust edition from 2024 to 2021
  .github/workflows/ci.yml
  Cargo.toml
  benches/commit_streaming.rs
  benches/git_operations.rs
  benches/ui_rendering.rs
  clippy.toml
  src/git/commands.rs
  src/git/error_handling.rs
  src/git/operations.rs
  src/git/platform_security.rs
  src/git/references.rs
  src/git/repository.rs
  src/git/security.rs
  src/git/tags.rs
Owners: @gitk-rs/devops-team, @gitk-rs/maintainers, @gitk-rs/performance-team, @gitk-rs/git-experts, @gitk-rs/security-team

fix: resolve CI check failures for Rust 2024 edition
  benches/commit_streaming.rs
  benches/git_operations.rs
  benches/ui_rendering.rs
  deny.toml
  rustfmt.toml
  src/app.rs
  src/git/commands.rs
  src/git/commit.rs
  src/git/commits.rs
  src/git/diff.rs
  src/git/error_handling.rs
  src/git/mod.rs
  src/git/operations.rs
  src/git/platform_security.rs
  src/git/references.rs
  src/git/remotes.rs
  src/git/repository.rs
  src/git/security.rs
  src/git/stash.rs
  src/git/stream.rs
  src/git/tags.rs
  src/git/views.rs
  src/lib.rs
  src/main.rs
  src/models/commit.rs
  src/models/mod.rs
  src/models/repository.rs
  src/state/app_state.rs
  src/state/config.rs
  src/state/mod.rs
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
  src/ui/mod.rs
  src/ui/references.rs
  src/ui/search.rs
  src/ui/views.rs
  tests/integration/main.rs
Owners: @gitk-rs/performance-team, @gitk-rs/security-team, @gitk-rs/maintainers, @gitk-rs/core-team, @gitk-rs/git-experts, @gitk-rs/ui-team

fix: update GitHub Actions workflows and resolve CI issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.toml
  clippy.toml
  src/git/stream.rs
  src/state/app_state.rs
  src/ui/graph.rs
  tests/integration/main.rs
Owners: @gitk-rs/devops-team, @gitk-rs/maintainers, @gitk-rs/git-experts, @gitk-rs/core-team, @gitk-rs/ui-team

fix formatting
  src/ui/diff_viewer.rs
Owners: @gitk-rs/ui-team

fix clippy issues
  src/app.rs
  src/git/commands.rs
  src/git/commit.rs
  src/git/commits.rs
  src/git/error_handling.rs
  src/git/mod.rs
  src/git/operations.rs
  src/git/platform_security.rs
  src/git/references.rs
  src/git/remotes.rs
  src/git/repository.rs
  src/git/security.rs
  src/git/stash.rs
  src/git/tags.rs
  src/state/app_state.rs
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
  src/ui/references.rs
  src/ui/views.rs
Owners: @gitk-rs/core-team, @gitk-rs/maintainers, @gitk-rs/git-experts, @gitk-rs/security-team, @gitk-rs/ui-team

fix formatting
  src/git/tags.rs
  src/ui/diff_viewer.rs
Owners: @gitk-rs/git-experts, @gitk-rs/maintainers, @gitk-rs/ui-team

fix formatting
  Cargo.toml
  benches_disabled/commit_streaming.rs
  benches_disabled/git_operations.rs
  benches_disabled/ui_rendering.rs
  src/app.rs
  src/git/commands.rs
  src/git/commits.rs
  src/git/error_handling.rs
  src/git/mod.rs
  src/git/stash.rs
  src/git/tags.rs
  src/lib.rs
  src/main.rs
  src/ui/commit_graph.rs
  src/ui/diff_viewer.rs
  src/ui/graph.rs
  src/ui/main_window.rs
  src/ui/mod.rs
  src/ui/search.rs
  src/ui/views.rs
  tests_disabled/fixtures/README.md
  tests_disabled/fixtures/mock_data/sample_commits.json
  tests_disabled/integration/main.rs
  tests_disabled/integration/mod.rs
Owners: @gitk-rs/maintainers, @gitk-rs/core-team, @gitk-rs/git-experts, @gitk-rs/ui-team

fix CBOM generation
  .github/workflows/security.yml
  deny.toml
Owners: @gitk-rs/security-team, @gitk-rs/devops-team

fix test coverage
  .github/workflows/ci.yml
  tarpaulin.toml
Owners: @gitk-rs/devops-team, @gitk-rs/maintainers

.github/CODEOWNERS:

# CODEOWNERS - Defines who owns what code
# 
# This file defines the default reviewers for pull requests.
# When a pull request is created, GitHub will automatically
# request reviews from the relevant code owners.
#
# Order is important; the last matching pattern takes precedence.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users are requested as reviewers for all changes
* @gitk-rs/maintainers

# Documentation
*.md @gitk-rs/docs-team
/docs/ @gitk-rs/docs-team
CONTRIBUTING.md @gitk-rs/maintainers
SECURITY.md @gitk-rs/security-team
README.md @gitk-rs/maintainers

# Configuration files
Cargo.toml @gitk-rs/maintainers
Cargo.lock @gitk-rs/maintainers
rust-toolchain.toml @gitk-rs/maintainers
rustfmt.toml @gitk-rs/maintainers
clippy.toml @gitk-rs/maintainers
deny.toml @gitk-rs/security-team

# CI/CD and automation
/.github/ @gitk-rs/devops-team
/.github/workflows/ @gitk-rs/devops-team @gitk-rs/maintainers
.pre-commit-config.yaml @gitk-rs/devops-team
codecov.yml @gitk-rs/devops-team

# Core application code
/src/ @gitk-rs/core-team

# Git operations - critical code requiring careful review
/src/git/ @gitk-rs/git-experts @gitk-rs/maintainers
/src/git/repository.rs @gitk-rs/git-experts @gitk-rs/security-team
/src/git/security.rs @gitk-rs/security-team @gitk-rs/maintainers
/src/git/operations.rs @gitk-rs/git-experts

# User interface
/src/ui/ @gitk-rs/ui-team

# Data models and state management
/src/models/ @gitk-rs/core-team
/src/state/ @gitk-rs/core-team

# Application entry points
/src/main.rs @gitk-rs/maintainers
/src/lib.rs @gitk-rs/maintainers
/src/app.rs @gitk-rs/core-team @gitk-rs/maintainers

# Test infrastructure
/tests/ @gitk-rs/core-team
/benches/ @gitk-rs/performance-team

# Security-related files
SECURITY.md @gitk-rs/security-team @gitk-rs/maintainers
/src/git/security.rs @gitk-rs/security-team @gitk-rs/maintainers
deny.toml @gitk-rs/security-team

# Build and deployment
Dockerfile @gitk-rs/devops-team
docker-compose.yml @gitk-rs/devops-team
/.github/workflows/release.yml @gitk-rs/maintainers @gitk-rs/devops-team
/.github/workflows/security.yml @gitk-rs/security-team @gitk-rs/devops-team

# License and legal
LICENSE* @gitk-rs/maintainers
COPYRIGHT @gitk-rs/maintainers

# Git configuration
.gitignore @gitk-rs/maintainers
.gitattributes @gitk-rs/maintainers

# IDE and editor configurations
.vscode/ @gitk-rs/devops-team
.idea/ @gitk-rs/devops-team
